# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.TestTask.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\meanx\Desktop\MainProject\test-task\TestTask\.idea\.idea.TestTask\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
